body {
    padding-top: 54px;
    background-color: whitesmoke;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px
    }
}

.card-img-top {
    height: 150px;
    object-fit: cover
}

.float-on-iframe {
    position: absolute;
    top: 20px;
    right: -15px
}

.btn-primary {
    background-color: #C62221;
    border-color: #C62221
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #941918;
    border-color: #941918;
}

a {
    color: #C62221
}

a:hover, a:focus, a:active {
    color: #941918
}

.bg-dark {
    background-color: #C62221 !important
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1.0)
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1.0);
    text-decoration: underline
}

.nav-item {
    color: rgba(255, 255, 255, 1.0)
}

li.nav-item.active {
    text-decoration: underline;
}

h1 a, h1 a:hover, h1 a:focus {
    color: black !important
}