body {
    padding-top: 54px;
    background-color: whitesmoke;
}

.card-img-top {
    height: 150px;
    object-fit: cover
}

.float-on-iframe {
    position: absolute;
    top: 20px;
    right: -15px
}

.btn-primary {
    background-color: #C62221;
    border-color: #C62221
}

.badge-primary {
    background-color: #C62221;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #941918;
    border-color: #941918;
}

a.list, a.list:hover, a.list:focus, a.list:active {
    color: black;
}

a {
    color: #C62221
}

    a:hover, a:focus, a:active {
        color: #941918
    }

.bg-dark {
    background-color: #C62221 !important
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8)
}

    .navbar-dark .navbar-nav .nav-link:hover {
        color: white;
        font-weight: bold;
    }

.nav-item {
    color: white
}

li.nav-item.active {
    font-weight: bold;
}

h1 a, h1 a:hover, h1 a:focus {
    color: black !important
}

.badge {
    font-size: 1.5rem
}

.navbar-nav {
    text-align: right;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.8);
    border: none;
}

    .navbar-dark .navbar-toggler:hover {
        color: white;
    }
