body {
    padding-top: 54px
}

@media (min-width: 992px) {
    body {
        padding-top: 56px
    }
}

.card-img-top {
    height: 150px;
    object-fit: cover
}

.float-on-iframe {
    position: absolute;
    top: 0;
    right: 0
}

.btn-primary {
    background-color: #C62221;
    border-color: #C62221
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #941918;
    border-color: #941918
}

a {
    color: #C62221
}

a:hover, a:focus {
    color: #941918
}

.bg-dark {
    background-color: #C62221 !important
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8)
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: white
}
