h1 {
    font-size: 6vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    margin: 1vw;
}

h2 {
    font-size: 2vw;
    margin: 1vw;
}

table {
    width: 100%;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 2vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 2vw;
    border-collapse: collapse;
    margin: 1vw;
}

th {
    border: 1px solid black;
    background-color: rgb(77, 79, 83);
    ;
    color: rgb(204, 204, 204);
    padding: 1vw;
    font-weight: 400;
}

td {
    border: 1px solid black;
    padding: 1vw;
}

tr:nth-child(odd) {
    background-color: #d2d7d3;
}

tr:nth-child(even) {
    background-color: #f2f1ef;
}

#selected {
    background: #22313F;
    color: #f5f5f5;
    font-size: 2.5vw;
}

input {
    margin-left: 1vw;
}
