@using Hjerpbakk.Media.Server.Model;
@using System.Collections.Generic;
<html>
    <head>
        <title>Hours of interest</title>
        <link rel="stylesheet" type ="text/css" href ="../../css/all.css" media ="screen" />
		<link rel="stylesheet" type ="text/css" href ="../../css/dips.css" media ="screen" />
    </head>
    <body>
        <h1>
            Hours of interest <img src="../../images/logo.png" align="right" height="75">
        </h1>
        <p>
        Oppsummering av hva dette er for noe...
		</p>
         <p>
			<button onclick="window.location='/save/@ViewData["conferenceName"]';">Add new</button>
        </p>
		@{var hoursOfInterest = (IReadOnlyList<TalkSummary>)ViewData["hoursOfInterest"];}
		@if (hoursOfInterest != null) {
            <table style="width:100%" id="internalActivities">
            <tr>
                <th align="right" style="width: 80px">Title</th>
                <th align="left">Description</th>
            </tr>         
            @for(var i = 0; i < hoursOfInterest.Count; ++i) {
                <tr>
                    <td align="right" style="width: 80px"><a href="@hoursOfInterest[i].URL">@hoursOfInterest[i].Title</a></td>
                    <td>@hoursOfInterest[i].Description</td>    
                </tr>
            }
            </table>
        }
		
    </body>
</html>