@model ConferenceViewModel
<div class="col-lg-12">
    <div class="d-flex justify-content-between">
        <div>
            <h1 class="mt-4"><a href="@Model.SlackUrl">@ViewData["Title"]</a></h1>
        </div>
        <div>
            <!--TODO: Move to code...-->
            <form action="/Conference/@ViewData["Slug"]/Save" style="display: inline;">
                <button type="submit" class="btn btn-primary mt-4 align-text-top">Add new talk</button>
            </form>
        </div>
    </div>
    @await Html.PartialAsync("TalkGrid.cshtml")
    <div class="row ml-0">
        <h5 class="text-muted mb-3">@Model.VideoPath</h5>
    </div>
</div>

